<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/auto-scroll-chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat-anim.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom-range-slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/shadow-scroll.js') }}"></script>