<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>GPT-3 API | 500</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>

    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <div style="width: 600px; justify-content: center; align-items: center; display: flex;">
        <img src="{{ url_for('static', filename='img/moc-logo.svg') }}" alt="master of code global"/>
      </div>
      <div><h2 style="margin: 32px; font-size: 26px; font-weight: 500;">500</h2></div>
    </div> 

</body>