<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <hr/>

      <h3>Preheaders (<a href = "{{ url_for('preheader_page.preheader_page_add') }}">Add/Update Preheader
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Full Preheader Name</th>
               <th>Content</th>
               <th>Created at</th>
            </tr>
         </thead>
         
         <tbody>
            {% for preheader in preheaders %}
               <tr>
                  <td>{{ preheader.id }}</td>
                  <td>{{ preheader.full_name }}</td>
                  <td>{{ preheader.content }}</td>
                  <td>{{ preheader.created_at }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>