python-dotenv==0.19.2
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Flask==2.0.3
Flask-Session==0.4.0
Flask-UUID==0.2
Flask-HTTPAuth==4.7.0
Werkzeug==2.0.3
openai==0.27.0
gunicorn==20.1.0
redis==4.5.1
celery==5.2.3
flower==1.2.0
py-healthcheck==1.10.1
numpy==1.24.2
PyJWT==2.6.0
SQLAlchemy==1.4
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1